#camera-container, #model {
    position: relative;
    display: inline-block;
}

#content {
    margin-left: 340px;
}

#webcam,
#overlay,
#overlay2,
#overlay3 {
    position: absolute;
    top: 0;
    left: 0;
}

#options {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    overflow: hidden;
    background-color: #182740;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}